// Cores do Site
$color--orange: rgb(255, 102, 0);
$color--white: white;
$color--black: black;
$color--heavy-gray: rgb(24, 23, 23);
$color--light-gray: gray;
$color--ligth-black: rgb(51, 51, 51, 0.5);